<h1> Напишите нам </h1>
<div>
  <p>
    <label>Ваше имя</label><br>
    <input [(ngModel)]="message.name" />
  </p>
  <p>
    <label>Ваш email</label><br>
    <input type="email" [(ngModel)]="message.email" />
  </p>
  <p>
    <label>Ваш телефон</label><br>
    <input [(ngModel)]="message.phone" />
  </p>
  <p>
    <label>Тема</label><br>
    <select name="topics" [(ngModel)]="message.topic">
      @for(topic of topics; track $index){
      <option [value]="topic">
        {{topic}}
      </option>
      }
    </select>
  </p>
  <p>
    <label>Ваше сообщение</label><br>
    <input type="text" [(ngModel)]="message.message_text" />
  </p>
  <button (click)="printMessage(message)">Отправить</button>
</div>
<div>
  <p>
    <label>Имя:</label><br>
    {{messageGet.name}}
  </p>
  <p>
    <label>Email:</label><br>
    {{messageGet.email}}
  </p>
  <p>
    <label>Телефон:</label><br>
    {{messageGet.phone}}
  </p>
  <p>
    <label>Тема:</label><br>
    {{messageGet.topic}}
  </p>
  <p>
    <label>Сообщение</label><br>
    {{messageGet.message_text}}
  </p>
</div>
